/* ------------------------------------------------------------ *\
	Grid
\* ------------------------------------------------------------ */

.grid {
	width: 100%;
	position: relative;
	overflow: hidden;

	.grid__row {
		position: relative;
		margin: calc( 0 - #{$grid-gutter} );
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;

		@include breakpoint-down(tablet) {
			margin: calc( 0 - #{$grid-gutter-tablet} );
		}

		@include breakpoint-down(mobile) {
			margin: calc( 0 - #{$grid-gutter-mobile} );
		}
	}

	.grid__col {
		width: 100%;
		padding: $grid-gutter;

		@include breakpoint-down(tablet) {
			padding: $grid-gutter-tablet;      
		}

		@include breakpoint-down(mobile) {
			padding: $grid-gutter-mobile;      
		}
	}
	
	.grid__col--1of2 {
		width: 50%;
	}

	.grid__col--1of3 {
		width: 33.333%;
	}

	.grid__col--1of4 {
		width: 25%;
	}

	.grid__col--1of5 {
		width: 20%;
	}

	.grid__col--1of6 {
		width: 16.666%;
	}

	@include breakpoint-down(large-desktop) {
		.grid__col--large-desktop-1of1 {
			width: 100%;
		}

		.grid__col--large-desktop-1of2 {
			width: 50%;
		}

		.grid__col--large-desktop-1of3 {
			width: 33.333%;
		}

		.grid__col--large-desktop-1of4 {
			width: 25%;
		}

		.grid__col--large-desktop-1of5 {
			width: 20%;
		}

		.grid__col--large-desktop-1of6 {
			width: 16.666%;
		}
	}

	@include breakpoint-down(small-desktop) {
		.grid__col--small-desktop-1of1 {
			width: 100%;
		}

		.grid__col--small-desktop-1of2 {
			width: 50%;
		}

		.grid__col--small-desktop-1of3 {
			width: 33.333%;
		}

		.grid__col--small-desktop-1of4 {
			width: 25%;
		}

		.grid__col--small-desktop-1of5 {
			width: 20%;
		}

		.grid__col--small-desktop-1of6 {
			width: 16.666%;
		}
	}

	@include breakpoint-down(tablet) {
		.grid__col--tablet-1of1 {
			width: 100%;
		}

		.grid__col--tablet-1of2 {
			width: 50%;
		}

		.grid__col--tablet-1of3 {
			width: 33.333%;
		}

		.grid__col--tablet-1of4 {
			width: 25%;
		}

		.grid__col--tablet-1of5 {
			width: 20%;
		}

		.grid__col--tablet-1of6 {
			width: 16.666%;
		}
	}

	@include breakpoint-down(tablet-portrait) {
		.grid__col--tablet-portrait-1of1 {
			width: 100%;
		}

		.grid__col--tablet-portrait-1of2 {
			width: 50%;
		}

		.grid__col--tablet-portrait-1of3 {
			width: 33.333%;
		}

		.grid__col--tablet-portrait-1of4 {
			width: 25%;
		}

		.grid__col--tablet-portrait-1of5 {
			width: 20%;
		}

		.grid__col--tablet-portrait-1of6 {
			width: 16.666%;
		}  
	}

	@include breakpoint-down(mobile) {
		.grid__col--mobile-1of1 {
			width: 100%;
		}

		.grid__col--mobile-1of2 {
			width: 50%;
		}

		.grid__col--mobile-1of3 {
			width: 33.333%;
		}

		.grid__col--mobile-1of4 {
			width: 25%;
		}

		.grid__col--mobile-1of5 {
			width: 20%;
		}

		.grid__col--mobile-1of6 {
			width: 16.666%;
		}     
	}

	@include breakpoint-down(mobile-medium) {
		.grid__col--mobile-medium-1of1 {
			width: 100%;
		}

		.grid__col--mobile-medium-1of2 {
			width: 50%;
		}

		.grid__col--mobile-medium-1of3 {
			width: 33.333%;
		}

		.grid__col--mobile-medium-1of4 {
			width: 25%;
		}

		.grid__col--mobile-medium-1of5 {
			width: 20%;
		}

		.grid__col--mobile-medium-1of6 {
			width: 16.666%;
		}     
	} 

	@include breakpoint-down(mobile-small) {
		.grid__col--mobile-small-1of1 {
			width: 100%;
		}

		.grid__col--mobile-small-1of2 {
			width: 50%;
		}

		.grid__col--mobile-small-1of3 {
			width: 33.333%;
		}

		.grid__col--mobile-small-1of4 {
			width: 25%;
		}

		.grid__col--mobile-small-1of5 {
			width: 20%;
		}

		.grid__col--mobile-small-1of6 {
			width: 16.666%;
		}     
	}  
}
