/* ------------------------------------------------------------ *\ 
	- Ico Arrow
\* ------------------------------------------------------------ */

.ico-arrow {
	width: 11px;
	height: 11px;

	svg {
		display: block; 
		width: inherit;
		height: inherit; 
	}

	path {
		transition: fill $t-duration;
	}
}

/* ------------------------------------------------------------ *\ 
	-- Reverse
\* ------------------------------------------------------------ */

.ico-arrow--reverse {
	svg {
		transform: rotate(180deg);
	}
}

/* ------------------------------------------------------------ *\ 
	-- Colors
\* ------------------------------------------------------------ */

.ico-arrow--black {
	path {
		fill: black;
	}
}
