/* ------------------------------------------------------------ *\
	Image Fit
\* ------------------------------------------------------------ */

.image-fit {
	@include imageCover;
	
	overflow: hidden;
	position: relative;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/*  -- Contain  */

.image-fit--contain {
	background-size: contain;

	img {
		object-fit: contain;
	}
}

/*  -- Bottom  */

.image-fit--bottom {
	background-position: center bottom;

	img {
		object-position: center bottom;
	}
}

/*  -- Right  */

.image-fit--right {
	background-position: right center;

	img {
		object-position: right center;
	}
}
