/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {
	& > ul {
		position: relative; 
		margin: -5px -20px; 

		@include breakpoint-down(medium-desktop) {
			margin: 0; 
			display: block; 
			text-align: center; 
		}
	}

	& > ul > li {
		position: relative; 
		padding: 5px 20px; 
		font-size: 14px; 
		font-family: $ff-gt;
		font-weight: 300;
		letter-spacing: -0.40px;

		@include breakpoint-down(medium-desktop) {
			font-size: 18px; 
		}

		&.current-menu-item > a,
		&.current-menu-ancestor > a,
		&.current-page-item > a,
		&.current-page-ancestor > a {
			color: $c-secondary;
		}

		@media (hover: hover), (-ms-high-contrast: none) {
			&:hover > a {
				color: $c-secondary; 
			}

			&:hover > a:before {
				width: 100%;
				opacity: 1; 
			}
		}
	}

	& > ul > li > a {
		position: relative;
		white-space: nowrap;

		@include breakpoint-down(medium-desktop) {
			display: inline-block;
			vertical-align: top; 
		}

		&:before {
			content: ' ';
			position: absolute; 
			left: 0; 
			bottom: -4px;
			background-color: $c-secondary;
			height: 2px;
			width: 0%;
			opacity: 0; 
			transition: width $t-duration, opacity $t-duration; 
		}
	}

	li.menu-item-has-children {
		& > a {
			padding-right: 16px; 
		}

		& > a:after {
			content: ' ';
			position: absolute; 
			right: 0;
			top: 50%;
			margin: 0; 
			padding: 0; 
			letter-spacing: 0;
			border: 0;
			width: 0;
			height: 0; 
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 3px solid $c-primary; 
			transition: transform $t-duration, border $t-duration;

			@include breakpoint-down(medium-desktop) {
				margin-top: -1px;
			}
		}

		@media (hover: hover), (-ms-high-contrast: none) {
			&:hover > a:after {
				border-top-color: $c-secondary; 
				transform: rotate(180deg);
			}
		}
	}

	a {

	}

	ul ul {
		position: absolute; 
		left: 0; 
		top: 100%;
		background-color: white; 
		padding: 15px 0;
		opacity: 0;
		visibility: hidden;
		transition: opacity $t-duration, visibility $t-duration, padding $t-duration; 
		min-width: 100%;

		@include breakpoint-down(medium-desktop) {
			position: relative; 
			overflow: hidden; 
			top: 0; 
			padding: 0; 
			min-width: 0;
			max-height: 0;
		}

		&:before {
			content: ' ';
			position: absolute; 
			left: 0; 
			right: 0; 
			bottom: 0;
			top: 15px;
			box-shadow: 0 6px 6px color(black a(10%));

			@include breakpoint-down(medium-desktop) {
				display: none;
			}
		}
	}

	ul ul li {
		position: relative; 
		white-space: nowrap;

		&.current-menu-item > a,
		&.current-menu-ancestor > a,
		&.current-page-item > a,
		&.current-page-ancestor > a {
			color: $c-secondary;
		}

		@media (hover: hover), (-ms-high-contrast: none) {
			&:hover > a {
				transform: translateX(5px);
				color: $c-secondary;
			}
		}
	}

	ul ul a {
		padding: 3px 20px; 
	}

	ul ul ul {
		left: 100%;
		top: 0; 

		@include breakpoint-down(medium-desktop) {
			left: 0; 
		}
	}

	@media (hover: hover), (-ms-high-contrast: none) {
		li:hover > ul {
			opacity: 1;
			visibility: visible;

			@include breakpoint-down(medium-desktop) {
				padding: 15px 0; 
				max-height: 9999px;
			}
		}
	}
}

/* ------------------------------------------------------------ *\ 
	- Is Touch
\* ------------------------------------------------------------ */

body.is-touch .nav {
	li.hover > ul {
		opacity: 1;
		visibility: visible;

		@include breakpoint-down(medium-desktop) {
			padding: 15px 0; 
			max-height: 9999px;
		}
	}
}
