/* ------------------------------------------------------------ *\ 
	- Nav Socials
\* ------------------------------------------------------------ */

.nav-socials {
	& > ul {
		position: relative; 
		margin: -13px; 

		@include breakpoint-down(mobile) {
			justify-content: center;
		}
	}

	& > ul > li {
		padding: 13px; 
		font-size: 24px; 
		line-height: 1.10;
	}

	@media (hover: hover), (-ms-high-contrast: none) {
		a:hover {
			color: $c-secondary;
			transform: scale(1.1) rotate(6deg);
		}
	}
}
