/* ------------------------------------------------------------ *\ 
	- Section Share
\* ------------------------------------------------------------ */

.section-share {
	padding: 28px 0;
	background-color: #fafafa;
	text-align: center;  
}
