/* ------------------------------------------------------------ *\ 
	- Section Title
\* ------------------------------------------------------------ */

.section-title {
	padding: 60px 0; 
	text-align: center;
	background-color: $c-secondary;
	color: white; 
}
