/* ------------------------------------------------------------ *\ 
	- Section Image And Content
\* ------------------------------------------------------------ */

.section-image-and-content {
	.section__image {
		position: absolute; 
		right: 0; 
		top: 0; 
		bottom: 0;
		width: 50%;
		overflow: hidden; 

		@include breakpoint-down(tablet) {
			overflow: visible;
		}

		@include breakpoint-down(mobile) {
			position: relative; 
			width: 100%;
			height: 0; 
			padding-top: 100%; 
		}

		span {
			@include posAbsolute;
			
			display: block;
			bottom: -200px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;   

			@include breakpoint-down(tablet) {
				background-size: cover;
				background-attachment: scroll; 
				background-repeat: no-repeat;
				position: sticky;
				top: 64px;
				bottom: 0;
				height: 0; 
				padding-top: 100%; 
				margin-left: auto;
				transform: none !important;

				@include breakpoint-down(mobile) {
					position: absolute;
					top: 0;
				}
			}
		}
	}

	.section__body-holder {
		display: flex; 
		min-height: 650px;
		align-items: center;
		max-width: 50%;
		padding: 108px 80px 108px 0; 

		@include breakpoint-down(tablet-portrait) {
			padding-left: 40px;
		}

		@include breakpoint-down(mobile) {
			display: block; 
			min-height: 0;
			max-width: 100%;
			padding: 50px 0; 
			text-align: center; 
		}

		blockquote {
			@util clearfix;

			width: 100%;

			& > *:last-child {
				margin-bottom: 0; 
			}
		}

		blockquote > i {
			display: block; 
			max-width: 108px;
			width: 100%;

			@include breakpoint-down(mobile) {
				margin-left: auto; 
				margin-right: auto; 
			}

			&:not(:last-child) {
				margin-bottom: 32px;
			}

			img {
				display: block; 
				width: 100%;
				height: auto;  
			}
		}

		h2 {
			margin-bottom: 32px;
		}

		h6 {
			text-transform: uppercase; 
			font-family: $ff-sans-serif;
			font-weight: 700;
			margin-bottom: 10px;
			font-size: 14px;
			letter-spacing: 0.8px;
		}

		p.alignleft {
			margin: 0; 

			@include breakpoint-down(mobile) {
				float: none; 
				margin-right: 0; 
			}
		}

		p.alignleft:not(:last-child) {
			margin-right: 30px;

			@include breakpoint-down(mobile) {
				margin-right: 0;
			}
		}

		p.alignleft .btn-link {
			margin: 12px 0;
		}
	}
}

.section-image-and-content[data-image-position="left"] {
	.section__image {
		right: auto; 
		left: 0; 
	}

	.section__body-holder {
		margin-left: auto;
		padding-right: 0; 
		padding-left: 80px;

		@include breakpoint-down(tablet-portrait) {
			padding-left: 40px;
		}

		@include breakpoint-down(mobile) {
		 	padding-left: 0;
		 } 
	}
}

/* ------------------------------------------------------------ *\ 
	-- Size Large
\* ------------------------------------------------------------ */

.section-image-and-content--size-large {
	.section__body-holder {
		min-height: 768px;

		@include breakpoint-down(tablet-portrait) {
			min-height: 650px;
		}

		@include breakpoint-down(mobile) {
			min-height: 0;
		}
	}
}

/* ------------------------------------------------------------ *\ 
	-- Size Small
\* ------------------------------------------------------------ */

.section-image-and-content--size-small {
	.section__body-holder {
		min-height: 504px;

		@include breakpoint-down(tablet-portrait) {
			min-height: 404px;
		}

		@include breakpoint-down(mobile) {
			min-height: 0;
		}
	}	
}

/* ------------------------------------------------------------ *\ 
	-- Color Blue
\* ------------------------------------------------------------ */

.section-image-and-content--color-blue {
	background-color: $c-secondary;
	color: white;  
}

/* ------------------------------------------------------------ *\ 
	-- Bottom Image On Mobile
\* ------------------------------------------------------------ */

.section-image-and-content--bottom-image-on-mobile {
	@include breakpoint-down(mobile) {
		display: flex; 
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
}
