/* ------------------------------------------------------------ *\ 
	- Section Search
\* ------------------------------------------------------------ */

.section-search {
	margin: 80px 0;

	@include breakpoint-down(mobile) {
		margin: 50px 0;
	} 

	.section__head {
		margin-bottom: 46px;
	}
}
